.body-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70%;
    
    @media (max-width: 1024px) {
      height: auto;

      flex-direction: column-reverse;
      gap: 2rem;
    }
  
    @media (max-width: 480px) {
      padding: 1rem;
      position: relative;
      width: inherit;
    }
  }