.social-container {
  display: flex;
  gap: 8px;

  .social-icon {
    color: #fff;
    background-color: #19373F;
    transition: all 0.3s ease;
    border-radius: 4px;

    @media (max-width: 768px) {
      padding: 4px !important;  
      
      svg {
        width: 16px;
        height: 16px;
      }
    }

    @media (max-width: 480px) {
      padding: 3px !important;  
      
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}