.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;

  
  @media (max-width: 768px) {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;

  }

  img {
    height: 40px;
    
    @media (max-width: 768px) {
      height: 28px;  
    }

    @media (max-width: 480px) {
      height: 24px; 
    }
  }
}